.back-img
{
    background-color: rgb(39, 89, 227);
    background-image: url("	https://assets.clear.in/cleartax/images/1724913180_group1814221452.png");
    background-position: center;
    background-size: cover;
}